@media screen and (min-width: 0px) {
    .ilustracao__imagem{
        max-width: 250px;
    }
}

@media screen and (min-width: 768px) {
    .ilustracao__imagem{
        max-width: 340px;
    }
}
@media screen and (min-width: 1280px) {
    .ilustracao__imagem{
        max-width: 350px;
    }
}