.cabecalho__menu {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}

.cabecalho__menu#logado{
    margin-top: 2.5rem;
}


@media screen and (min-width: 0px) {
    .cabecalho__menu {
        margin-top: 3rem;
    }    
}

@media screen and (min-width: 768px) {
    .cabecalho__menu {
        margin-top: 4rem;
    }    
}

@media screen and (min-width: 1280px) {
    .cabecalho__menu#logado {
        margin-top: 4rem;
    }    
}