.formulario__textarea {
    resize: none;
    width: calc(100% - 2rem);
    font-size: 14px;
    text-align: left;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    border: none;
    padding: 1rem;
    margin-top: .5rem;
    
}

.formulario__textarea::placeholder {
    color: var(--cinza-medio);
}