.formulario__loggedout--campo {
    color: var(--cinza-escuro);
}
@media screen and (min-width: 0px) {
    .formulario__loggedout--campo{
        margin-top: 1rem;
        font-size: 1rem;
    }
}

@media screen and (min-width: 768px) {
    .formulario__loggedout--campo  {
        margin-top: 1.5rem;
        font-size: 18px;
        font-weight: 600;
    }
}

@media screen and (min-width: 1280px) {
    .formulario__loggedout--campo  {
        font-weight: 600;
    }
}