.formulario__loggedout--botao {
    margin: 1.5rem 3rem 1.5rem 3rem;
    border: none;
}

@media screen and (min-width: 0px) {
    .formulario__loggedout--botao {
        margin: 1.5rem 3rem 1.5rem 3rem;
    }
}

@media screen and (min-width: 768px) {
    .formulario__loggedout--botao   {
        margin: 2.5rem 9rem 1.5rem 9rem;
    }
}
@media screen and (min-width: 1280px) {
    .formulario__loggedout--botao   {
        margin: 2rem 10.5rem 1.5rem 10.5rem;
    }
}