@media screen and (min-width: 0px) {
    .cadastro__texto--paragrafo {
        margin: 0 0 6px;
        line-height: 21px;
    }
}

@media screen and (min-width: 768px) {
    .cadastro__texto--paragrafo {
        margin: 2rem 0 6px;
        padding: 0 1rem;
        line-height: 26px;
    }
    .cadastro__texto--paragrafo:last-child {
        margin: 0rem 0 6px;
    }
}

@media screen and (min-width: 1280px) {

}