.container {
    z-index: 2;
}

.container--cadastro {
    margin: 0 1.5rem;
}

@media screen and (min-width: 0px) {
    .container {
        margin: 0 13%;
    }
}

@media screen and (min-width: 728px) {
    .container {
        margin: 0 10rem;
    }
}