.forma__topo {
    background-image: url(../img/Forma-1.svg);
    background-repeat: no-repeat;
    position: absolute;
    z-index: -3;
    top: 0;
    left: 0;
    
    
}

@media screen and (min-width: 0px) {
    .forma__topo {
        height: 275px;
        width: calc(100% - 1rem);
        background-size: cover;
    }
}

@media screen and (min-width: 768px) {
    .forma__topo {
        background-size: contain;
        height: 430px;
        width: 100%;
    }
}