.formulario {
    display: flex;
    flex-direction: column;
    background-color: var(--cinza-claro);
    padding: 1rem;
    align-items: flex-start;
    margin-bottom: 2.5rem;
    border-radius: 10px;
}