.index {
    background: var(--azul);
}


.inicio {
    text-align: center;
    margin-top: 6rem;
    color: #FFFF;
    
} 


@media screen and (min-width: 0px) {
    .inicio {
        height: 40vh;
    }
}

@media screen and (min-width: 728px) {
    .inicio {
        height: 50vh;
    }
}