@media screen and (min-width:0px){
.login__texto {
    padding-top: 1.5em; 
}
}

@media screen and (min-width:1280px){
    .login__texto{
        padding-top: 0rem;
        margin-bottom: 5rem;
    }
}